# وابستگی‌های Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# فایل‌های متغیر محیطی
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# فایل‌های Hardhat
/cache
/artifacts
/cache-zk
/broadcast
/broadcast-logs

# فایل‌های TypeChain
/typechain
/typechain-types

# فایل‌های solidity-coverage
/coverage
/coverage.json

# فولدر پیش‌فرض Hardhat Ignition برای دیپلوی روی نود محلی
ignition/deployments/chain-31337
/deployments/localhost

# فایل‌های سیستمی macOS
.DS_Store
.AppleDouble
.LSOverride

# فایل‌های سیستمی Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# لاگ‌ها
*.log
*.log.*
logs/

# فایل‌های مربوط به IDEها
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
*.sw?

# فایل‌های مربوط به Debug و پروفایل
*.swp
*.swo
*.log
*.bak
*.tmp
__MACOSX/

# خروجی‌های بیلد
/dist
/out
/build
frontend/build/
.next/

# فایل‌های متفرقه
*.env.backup
*.test.ts.snap
*.temp
__pycache__/
*.tsbuildinfo
.DS_Store
*.pem

# فایل‌های مرتبط با Ethereum
/.openzeppelin
.secret
keys.json
mnemonic.txt
private-keys.txt
account-keys.json

# فایل‌های مربوط به Gas Reporter
gas-report.txt
gasReporterOutput.json

# فایل‌های کش مرورگر
.cache/
.parcel-cache/

# سایر فایل‌های خاص پروژه
coverage/
coverage.json
bin/