# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Hardhat files
/cache
/artifacts
/cache-zk
/broadcast
/broadcast-logs

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Default Hardhat Ignition folder for local node deployment
ignition/deployments/chain-31337
/deployments/localhost

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
*.log.*
logs/

# IDE related files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
*.sw?

# Debug and profile related files
*.swp
*.swo
*.log
*.bak
*.tmp
__MACOSX/

# Build outputs
/dist
/out
/build
frontend/build/
.next/

# Miscellaneous files
*.env.backup
*.test.ts.snap
*.temp
__pycache__/
*.tsbuildinfo
.DS_Store
*.pem

# Ethereum related files
/.openzeppelin
.secret
keys.json
mnemonic.txt
private-keys.txt
account-keys.json

# Gas Reporter files
gas-report.txt
gasReporterOutput.json

# Browser cache files
.cache/
.parcel-cache/

# Other project-specific files
coverage/
coverage.json
bin/